# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# PyCharm
.idea/

# Generated project exports
project_code.txt
project_code*.txt
